@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{ 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    }
html{
    font-family: "Montserrat";
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-size: 1.2rem;
    min-height: 100%;
} 
h2{
    font-family: "Dancing Script";
}
.header {
    background-image: url(../img/headerlote.png);
    background-size: cover;
    grid-area: header;
}
.navbar {
    background-color: rgb(52, 78, 65); 
    grid-area: navbar;
    font-size: 14px;
    padding: 0px 0.3%;
    margin: 0px;
    text-decoration: none;
    color: rgb(218, 215, 205);
}  

.navleft {
    float: left;
    align-items:center;
    background-color: rgb(52, 78, 65);
    color: rgb(218, 215, 205);
    margin: 0px ;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
}
.navright {
    align-items:center;
    background-color: rgb(52, 78, 65);
    color: rgb(218, 215, 205);
    float: right;
    margin: 0px ;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
}
.navright a:hover {
    background-color:rgb(88, 129, 87);
}
.highlight a:hover {
    background-color:rgb(88, 129, 87);
}
.main {
    background-color: honeydew;
    grid-area: menu;
    padding: 10%;
    text-align: left;
}
.menu {
    background-color: honeydew;
    grid-area: menu;
    padding: 10%;
    text-align: center;
}
.article {
    background-color: rgb(163, 177, 138);
    display:flexbox;
    grid-area: article;
    padding: 7.5%;
    text-align: right;
}
.section {
    background-color: rgb(163, 177, 138);
    display:flexbox;
    grid-area: article;
    padding: 7.5%;
    text-align: center;
}
.footer {
    align-content:center;
    background-color:rgb(52, 78, 65);
    color:rgb(218, 215, 205);
    grid-area: footer;
    padding: 3px;
    
}
.grid-container {
    border-radius: 0px;
    box-shadow: -1px 1px 7px 0px rgba(88, 82, 82, 0.75);
    padding: 0px;
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 0px;
    grid-template-areas: 
        "header"
        "navbar"
        "main"
        "menu"
        "article"
        "section"
        "footer";
}
@media screen and (min-width: 761px)and (max-width: 1023px) {
    .grid-container {
        gap: 0px;
        grid-template-columns: 50% auto;
        grid-template-rows: 30% 6% auto auto auto 5%;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "main main"
        "menu menu"
        "article article"
        "section section"
        "footer footer";  
    } 
}
@media screen and (min-width: 1023px){
    .grid-container {
        grid-template-columns: 50% auto;
        grid-template-rows: 6% 40% auto auto 5%;
        grid-template-areas: 
        "navbar navbar"
        "header header"
        "main main"
        "menu article"
        "footer footer";  
    } 
}

.grid-container2 {
    border-radius: 0px;
    box-shadow: -1px 1px 7px 0px rgba(88, 82, 82, 0.75);
    padding: 0px;
    text-align: center;
    justify-items: stretch;
}
.grid-container2 {
    display: grid;
    gap: 0px;
    grid-template-areas: 
        "header"
        "navbar"
        "article"
        "footer";
}
@media screen and (min-width: 761px)and (max-width: 1023px) {
    .grid-container2 {
        gap: 0px;
        grid-template-columns: auto;
        grid-template-rows: 30% 6% auto 5%;
        grid-template-areas: 
        "header"
        "navbar"
        "article"
        "footer";  
    } 
}
@media screen and (min-width: 1023px){
    .grid-container2 {
        grid-template-columns: auto;
        grid-template-rows: 6% 40% auto 5%;
        grid-template-areas: 
        "navbar"
        "header"
        "article"
        "footer";  
    } 
}

/* .r1 {
    background-image: url("img/bg1.jpg");
    min-height: 100%;
  }
  
  .r2 {
    background-image: url("img/bg2.jpg");
    min-height: 400px;
  }
  
  .r3 {
    background-image: url("img/bg3.jpg");
    min-height: 400px;
  }
  
  .r1,
  .r2,
  .r3,{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    position: relative;
  }
  
  .ctext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .ctext .fondo {
    background-color: #111;
    color: white;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .ctext .fondo.transparente {
    background-color: rgba(0, 0, 0, 0.5);
  } */