@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{ 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    }
html{
    font-family: "Montserrat";
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-size: 1.2rem;
    min-height: 100%;
} 
#header {
    background-color: rgb(51, 53,51);
    grid-area: header;
}
#navbar {
    align-items:center;
    background-color: rgb(51, 53,51); 
    grid-area: navbar;
}
.nav {
    align-items:right;
    background-color: rgb(51, 53,51);
    color: rgb(245, 203, 92);
}
#menu {
    background-color: honeydew;
    grid-area: menu;
    padding: 7.5%;
    text-align: center;
}
#article {
    background-color: rgb(245, 203, 92);
    display:flexbox;
    grid-area: article;
    padding: 7.5%;
    text-align: center;
}
#footer {
    align-content:center;
    background-color:rgb(51, 53,51);
    color:whitesmoke;
    grid-area: footer;
    padding: 2%;
    
}
.grid-container {
    border-radius: 2px;
    box-shadow: -1px 1px 7px 0px rgba(88, 82, 82, 0.75);
    padding: 0px;
    text-align: center;
}
.grid-container {
    display: grid;
    gap: 2px;
    grid-template-areas: 
        "header"
        "navbar"
        "menu"
        "article"
        "footer";
}
.grid-container2 {
    border-radius: 2px;
    box-shadow: -1px 1px 7px 0px rgba(88, 82, 82, 0.75);
    padding: 0px;
    text-align: center;
}
.grid-container2 {
    display: grid;
    gap: 2px;
    grid-template-areas: 
        "header"
        "navbar"
        "article"
        "footer";
}
@media screen and (min-width: 761px)and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: 50% auto;
        grid-template-rows: 5% 20% auto 5%;
        grid-template-areas: 
        "navbar navbar"
        "header header"
        "menu article"
        "footer footer";  
    } 
}
